* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar-menu {
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-menu a {
    float: left;
    font-size: 16px;
    color: #424242;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #424242;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar-menu a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    /* left: 9%; */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Create three equal columns that floats next to each other */

.col-sm-4 {
    float: left;
    background-color: #ccc;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}