* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.primary-menu {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-menu a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu {
    float: left;
    overflow: hidden;
}

.submenu .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.primary-menu a:hover,
.submenu:hover .dropbtn {
    background-color: red;
}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.submenu-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.submenu:hover .submenu-content {
    display: block;
}


/* Create three equal col-md-4s that floats next to each other */

.col-md-4 a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.col-md-4 a:hover {
    background-color: #ddd;
}


/* Clear floats after the col-md-4s */

.row:after {
    content: "";
    display: table;
    clear: both;
}